<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome Back</h1>
        </div>
    </div>
<% else %>
<div class="jumbotron jumbotron-home">
    <div class="container" id="homepage-pic">
            <h1>2017 Best Cars and Trucks</h1>
            <p>Our highest rated cars in the areas that matter to you and your family.</p>
            <%= link_to "Learn more »", about_path, class: "btn btn-primary btn-lg" %> 
       
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Best Safe Cars</h2>
                <p>Find the cars and trucks with the highest IIHS and NHTSA safety ratings and include all of the newest safety technologies.</p>
                <p><%= link_to "View details", about_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Best Family Cars</h2>
                <p>Find the cars and trucks that fit your growing family and offer the most in conveience, comfort, and entertainment.</p>
                <p><%= link_to "View details", about_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Best Reliable Cars</h2>
                <p>Find the cars and trucks that will give you the most bang for your buck, keep you safe, and last you a long time.</p>
                <p><%= link_to "View details", about_path, class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
 <% end %>